/* Disabling borders by default */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Default font */
body {
    font-family: 'Montserrat', sans-serif;
    background-color: #ebebdf;
}

/* Font for headings */
h1, h2, #name_of_company {
    font-family: 'Playfair Display', serif;
    font-weight: 700;
}

/* Website header */
.header {
    width: 100%;
    height: 100;
    text-align: left;
    line-height: 100px;
    padding: 0 40px;
    float: top;
}

/* Logo and name */
.header-left {
    display: inline-block;
    width: 40%;
    text-align: left;
    vertical-align: middle;
    color: #31644b;
    font-size: 1.5em;
}

/* Header - links */
.header-right {
    position: absolute;
    right: 50px;
    display: inline-block;
    width: 60%;
    text-align: right;
    vertical-align: middle;
}

/* Header Logo */
.header #logotype_1 {
    width: 50px;
    vertical-align: middle;
    margin-right: 10px;
}

/* Links for navigation */
.navigation_link {
    margin-left: 50px;
    text-decoration: none;
    color: #31644b;
    font-size: 1.1em;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 1px;
}

/* Link Reaction */
#navigation_main:hover, #navigation_menu:hover, #navigation_about_us:hover, #navigation_contacts:hover, #navigation_order:hover {
    color: #ebebdf;
    background-color: #31644b;
    border: 8px solid #31644b;
    border-radius: 100%;
}

/* Front Logo */
#big_logo {
    width: 100%;
    height: auto;
    float: top;
}

/* Sections */
.sections {
    width: 100%;
    height: 200px;
    text-align: center;
    line-height: 20px;
    float: top;
}

/* Sections - Roasting */
.cook_grade {
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    border-right: 1px solid rgb(220, 220, 220);
    padding: 10px;
    margin-top: 20px;
    height: 100px;
    width: 150px;
    color: #31644b;
    font-size: 1.1em;
    font-weight: bold;
}

/* Sections - Eco-friendly packaging */
.eco_pocket {
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    border-right: 1px solid rgb(220, 220, 220);
    padding: 10px;
    margin-top: 20px;
    height: 100px;
    width: 150px;
    color: #31644b;
    font-size: 1.1em;
    font-weight: bold;
}

/* Sections - Comfort */
.comfort {
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    padding: 10px;
    margin-top: 20px;
    height: 100px;
    width: 150px;
    color: #31644b;
    font-size: 1.1em;
    font-weight: bold;
}

/* Pictures inside Sections */
.image {
    text-align: center;
    float: top;
    margin: 30px;
}

/* Texts inside Sections */
.text-to-image {
    text-align: center;
    line-height: 20px;
    float: top;
    margin: 30px;
}

/* Menu */
.menu {
    width: 100%;
    height: 130;
    text-align: center;
    color: #336145;
    line-height: 20px;
    float: top;
    padding: 30px;
    padding-bottom: 40px;
}

/* Menu Header */
.menu_header {
    position: relative;
    right: 190px;
    text-align: center;
    padding: 30px;
}

/* Name in Header */
.menu_header #menu_name {
    text-align: left;
    font-size: 3em;
    font-style: normal;
    font-weight: bolder;
}

/* The 1st menu slot */
.slot_1 {
    display: inline-block;
    vertical-align: middle;
    padding: 10px;
    margin-top: 20px;
    height: 160px;
    width: 135px;
    border: 2px solid #336145;
    margin-right: 30px;
    color: #31644b;
}

/* Text of 1st slot */
.slot_1 span {
    text-align: center;
    line-height: 20px;
    font-size: 14px;
    float: top;
    margin: 30px;
}

/* The 2nd menu slot */
.slot_2 {
    display: inline-block;
    vertical-align: middle;
    padding: 10px;
    margin-top: 20px;
    height: 160px;
    width: 135px;
    border: 2px solid #336145;
    margin-right: 30px;
    color: #31644b;
}

/* Text of 2nd slot */
.slot_2 span {
    text-align: center;
    line-height: 20px;
    float: top;
    margin: 30px;
    font-size: 1em;
}

/* The 3rd menu slot */
.slot_3 {
    display: inline-block;
    vertical-align: middle;
    padding: 10px;
    margin-top: 20px;
    height: 160px;
    width: 135px;
    border: 2px solid #336145;
    margin-right: 30px;
    color: #31644b;
}

/* Text of 3rd slot */
.slot_3 span {
    text-align: center;
    line-height: 20px;
    float: top;
    margin: 30px;
    font-size: 14px;
}

/* The 4th menu slot */
.slot_4 {
    display: inline-block;
    vertical-align: middle;
    padding: 10px;
    margin-top: 20px;
    height: 160px;
    width: 135px;
    border: 2px solid #336145;
    margin-right: 30px;
    color: #336145;
}

/* Text of 4th slot */
.slot_4 span {
    text-align: center;
    line-height: 20px;
    float: top;
    margin: 30px;
    font-size: 1em;
}

/* Footer */
.footer {
    width: 100%;
    min-height: 50px;
    background-color: #336145;
    font-size: 0;
    color: #ebebdf;
    padding: 20px 30px;
}

/* Cosial Media */
.social_media {
    display: inline-block;
    width: 33%;
    vertical-align: middle;
    text-align: left;
}

/* Address and opening hours */
.address_and_graphick { 
    display: inline-block;
    width: 33%;
    vertical-align: middle;
    text-align: center;
}

/* Year and company name */
.year_and_company_name {
    display: inline-block;
    width: 33%;
    vertical-align: middle;
    text-align: right;
}

/* Text in The Footer */
.footer span {
    color: #ebebdf;
    font-size: 14px;
    display: inline-block;
}

/* Social Media Picture Dimensions */
#social_media_pic {
    width: 120px;
    height: 50px;
    display: block;
}